<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MuseMapper">
	
	<select id="nameCheck" parameterType="String" resultType="com.indiScene.muse.dto.MuseDto">
		select * from muse where muse_name=#{muse_name}
	</select>
	
	<insert id="logup" parameterType="com.indiScene.muse.dto.MuseDto">
		insert into muse values(#{muse_name}, #{artist_id}, #{muse_comment}, #{muse_date},#{muse_filepath})
	</insert>
	
	<select id="museCheck" parameterType="String" resultType="com.indiScene.muse.dto.MuseDto">
		select * from muse where artist_id=#{artist_id}
	</select>
</mapper>
