<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="dao.NoticeMapper">

	<insert id="noticeInsert" parameterType="com.indiScene.notice.dto.NoticeDto">
		<![CDATA[ insert into notice values(#{subject}, #{content}, #{register_date}, #{count}, #{seq_level},#{seq_num}, #{group_num},notice_num_seq.nextval) ]]>		
	</insert>
	
	<select id="noticeGroupNumberMax" resultType="int">
		<![CDATA[select nvl(max(group_num), 0) from notice]]>
	</select>
	
	<select id="noticeList" resultType="com.indiScene.notice.dto.NoticeDto" parameterType="java.util.HashMap">
		<![CDATA[ select * from (select rownum rnum, a.* from(select * from notice order by group_num desc, seq_num asc)a) where rnum>=#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	<select id="noticeCount" resultType="int">
		<![CDATA[ select count(*) from notice ]]>
	</select>

	<delete id="delete" parameterType="int">
		<![CDATA[ delete from notice where board_num=#{board_num} ]]>
	</delete>

	<update id="noticeGroupNumberUpdate" parameterType="java.util.HashMap">
		<![CDATA[update notice set seq_num=seq_num+1 where group_num=#{group_num} and seq_level>#{seq_level}]]> 
	</update>
	
	<select id="updateSelect" resultType="com.indiScene.notice.dto.NoticeDto">
		<![CDATA[ select * from notice where board_num=#{board_num} ]]>
	</select>

	<update id="update" parameterType="com.indiScene.notice.dto.NoticeDto">
		<![CDATA[ update notice set subject=#{subject},content=#{content} where board_num=#{board_num}]]>
	</update>
	
	<update id="count" parameterType="int">
		<![CDATA[ update notice set count=count+1 where board_num=#{board_num} ]]>
	</update>
	
	<select id="read" parameterType="int" resultType="com.indiScene.notice.dto.NoticeDto">
		<![CDATA[ select * from notice where board_num=#{board_num} ]]>
	</select>
	
 </mapper>