<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.marketBoardMapper">

	
	<select id="boardCount" resultType="int">
		<![CDATA[
			select count(*) from marketBoard
		]]>
	</select>
	
	<select id="boardList" parameterType="java.util.HashMap" resultType="com.indiScene.marketBoard.dto.MarketBoardDto">
		<![CDATA[
			select * from (select rownum rnum, a.* from(select * from marketboard order by board_num desc)a) where rnum >=#{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<insert id="boardInsert" parameterType="com.indiScene.marketBoard.dto.MarketBoardDto">
		<![CDATA[
		insert into marketboard(SUBJECT,CONTENT,REGISTER_DATE,BOARD_NUM,ARTIST_ID,COUNT) 
		values(#{subject},#{content},#{register_date},'m' || marketboard_seq.nextval,#{artist_id},0)
		]]>
	</insert>
	
	<select id="boardRead" resultType="com.indiScene.marketBoard.dto.MarketBoardDto">
		select * from marketboard where board_num=#{board_num}
	</select>
	
	<update id="readCount" >
		update marketboard set count=count+1 where board_num=#{boardNumber}
	</update>
	
	
</mapper>