@CHARSET "UTF-8";
form div{ margin-left:20px; margin-right:20px; }
form div label{ width:120px; display:inline-block; }
form div input{ width:200px; display:inline-block; }
.artist_size{
	width:100%;
}
.artist_input{ 
	margin-left:10px;
	width:95%;
	float:left;
	display:inline-block; 
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
}
#artistLoginForm{ margin-top:10px; }
#RegisterForm, #deleteForm{ text-align:left; width:930px; padding:30px; margin:auto; border:solid 1px #BDBDBD; background:#EFEFEF; border-radius:20px; }
#centerContents{ margin-bottom:30px; margin-top:30px; }
#registerButton, #loginButton, #updateloginButton, #logoutButton{ margin-top:20px; margin-right:20px; float:right; }
#artist_address{ width:643px; }

.minSize{ min-width:530px; min-height:140px; }

.duplicateWindow{ width:530px; padding:20px; border:solid 1px #BDBDBD; background:#EFEFEF; border-radius:20px; }
.duplicateWindow .form-controlArtist{ display:block; margin-top:10px; margin-bottom:10px; }
.duplicateWindow .form-controlArtist .form-inlineblockButton { display:inline-block; background-color:#324053; color:#ffffff; }
.duplicateWindow .form-controlArtist .label-color{ color:#151515; font-size:large; }

.controlArtistForm .form-controlArtist{ display:block; margin-left:30px; margin-right:30px; margin-top:20px; margin-bottom:20px; width:810px; }
.controlArtistForm .form-controlArtist .form-inlineblock { display:inline-block; }
.controlArtistForm .form-controlArtist .form-inlineblockButton { display:inline-block; background-color:#324053; color:#ffffff; }
.controlArtistForm .form-controlArtist .label-color{ color:#151515; }
.marginCenter{ display:block; margin:auto; }

.size-control1{ padding:5px; padding-left:10px; padding-right:10px; }

.button-control{ margin-top:20px; }
/* ---size 320px--- */
.form-controller320 {
  width: 320px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-controller320:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-controller320[disabled],
.form-controller320[readonly],
fieldset[disabled] .form-controller320 {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-controller320 {
  height: auto;
}
/* ---size 220px--- */
.form-controller220 {
  width: 220px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-controller220:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-controller220[disabled],
.form-controller220[readonly],
fieldset[disabled] .form-controller220 {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-controller220 {
  height: auto;
}

