@CHARSET "UTF-8";

  #container {
        width: 70%;
        margin: 0px auto;
        padding: 1%;
        border: 1px solid #bcbcbc;
      }
      #header {
        padding:1%;
        margin-bottom: 5%;
        border: 1px solid #bcbcbc;
      }
      #content {
        width: 65%;
        padding: 1%;
        margin-bottom:1%;
        float: left;
        border: 1px solid #bcbcbc;
      }
      #sidebar {
        width: 10%;
        padding:10%;
        margin-bottom: 1%;
        float: right;
        border: 1px solid #bcbcbc;
      }
      #footer {
        clear: both;
        padding: 20px;
        border: 1px solid #bcbcbc;
      }
