@CHARSET "UTF-8";
#uploadSearchList, #PerformEnterBoard, #performanceInfo, #freeBoardUpdate, #freeBoardWrite, #freeBoardList, #noticeWrite, #noticeUpdate, #marketBoardEnterBoard, #marketBoardWrite, #marketBoardUpdate{ text-align:left; width:930px; min-height:450px; padding:30px; margin:auto; border:solid 1px #BDBDBD; background:#EFEFEF; border-radius:20px; }
#noticeRead, #marketBoardread, #performRead{ text-align:left; width:930px; min-height:450px; padding:30px; margin:auto; border:solid 1px #BDBDBD; background:#fff; border-radius:20px; }
#boardlistSize{ padding-right:10px; padding-left:10px; }
#best, #my, #all{ border-color:#BDBDBD; }
#best h4, #my h4, #all h4{ color:#FB6816; z-index:100; position:relative; margin-left:30px; margin-bottom:30px; }

.marketBoardX-location01{ text-align:center; }
.marketBoardX-location02{ text-align:right; }
.marketBoardX-location03{ text-align:left; }

.marketBoardY-location01{ vertical-align:top; }
.marketBoardY-location02{ vertical-align:bottom; }
.marketBoardY-location03{ vertical-align:middle; }

.marketBoardAttribute01{ display:inline-block; }
.marketBoardAttribute02{ display:block; }
.marketBoardAttribute03{ display:table-column; }

.instants01{ padding-right:10px; padding-left:10px; }
.instants02{ display:inline; padding-top:10px; padding-bottom:10px; }
.instants03{ margin-top:20px; margin-right:30px; }
.instants04{ padding-right:20px; padding-left:20px; }
.instants05{ border-radius:4px; width:210px; height:210px; margin:0px; display:inline-block; }
.instants06{ margin-left:10px; vertical-align:bottom; width:390px; }

.marketBoardSize4{ width:4%; }
.marketBoardSize12{ width:12%; }
.marketBoardSize16{ width:16%; }
.marketBoardSize30{ width:30%; }
.marketBoardSize01{ width:33%; }
.marketBoardSize40{ width:40%; }
.marketBoardSize46{ width:46%; }
.marketBoardSize495{ width:49.5%; }
.marketBoardSize02{ width:50%; }
.marketBoardSize58{ width:58%; }
.marketBoardSize60{ width:60%; }
.marketBoardSize77{ width:77%; }
.marketBoardSize80{ width:80%; }
.marketBoardSize90{ width:90%; }
.marketBoardSize03{ width:100%; }

.marketBoardheight91{ height:30px; }
.marketBoardheight01{ height:350px; }
.marketBoardheight02{ height:450px; }
.marketBoardheight03{ height:550px; }

.musemainHeight{ max-height:440px; min-height:220px; }

.marketBoardTextareaSize200{
	border:solid 1px #cccccc;
	border-radius: 4px;
	width:100%; 
	min-height:200px; 
	padding:10px;
}
.form-controlBoard{ display:block; margin-top:10px; margin-bottom:10px; }
.form-controlBoard .label-color{ color:#151515; }
.form-controlBoard .label-colorO{ color:#FB6816; }

.form-controlBoardLarge{ display:block; margin-top:10px; margin-bottom:10px; }

.boardlabelBlock{
	border-bottom:solid 1px #cccccc;
	border-radius: 4px;
	min-height:30px;
}

.boardBlock{
	border:solid 1px #cccccc;
	border-radius: 4px;
}

.marketBoardInterval005{ margin-top:5px; margin-bottom:5px; }
.marketBoardInterval01{ margin-top:10px; margin-bottom:10px; }
.marketBoardInterval02{ margin-top:20px; margin-bottom:20px; }
.marketBoardInterval03{ margin-top:30px; margin-bottom:30px; }
.marketBoardInterval04{ margin-top:40px; margin-bottom:40px; }

.marginLR5{ margin-left:5px; margin-right:5px; }
.marginLR10{ margin-left:10px; margin-right:10px; }
.marginLR15{ margin-left:15px; margin-right:15px; }
.marginLR20{ margin-left:20px; margin-right:20px; }

.marketBoardImageSize{ min-width:269px; min-height:205px; max-height:205px; }

.form-controlMarket{ display:block; margin-left:20px; margin-right:20px; margin-top:10px; margin-bottom:10px; }
.form-controlMarket .form-inlineblock { display:inline-block; }
.form-controlMarket .form-inlineblockButton { display:inline-block; background-color:#324053; color:#ffffff; }
.form-controlMarket .label-color{ color:#151515; }

#audioListDiv hr{ border-bottom:1px solid #595C62; width:80%; margin-bottom:0; }
.musicSubject, .artistName{ 
	padding-left:10%;
	padding-right:10%;
	color:#CFD0D2;
	font-size:17px;
}
.musicSubject:hover, .artistName:hover{
	color:#fff;
	background:transparent;
	font-weight:bold;
}
