@CHARSET "UTF-8";
/* Read */
#boardBasic, #freeBoardRead,#freeBoardList,#perfomBoardRead,#uploadBoardRead,#marketBoardread,#freeBoardDelete,#noticeDelete, #marketBoardDelete,#noticeRead{ 
	text-align:left; 
	width:930px; 
	min-height:450px; 
	padding:30px; 
	margin:auto; 
	border:solid 1px #BDBDBD; 
	background:white; 
	border-radius:20px; 
	
	
	}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* .btn-xs, .btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-danger {
  color: #FFFFFF;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
} */
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.cssDate ul {
  list-style-type: none;
  padding-left: 0px;
}

div {
  display: block;
}
 /* artist_id 폰트  */
.cssAritist {
  font-size: 1.3em;
  font-family:'Nanum Gothic';
  font-weight: bold;
  margin-right: 5px;
}

.DiscussInfo {
  color: #777777;
}
span.Delimiter {
  margin: 0px 5px;
}
.replyUpdate .update{
	color: #36b823;
}

.replyEdit {
	color:#D43F3A;
}
.cssUpDelEdit{
	color:#36b823;
}
.cssUpDelDelete{
	color:#D43F3A;
}
.cssReply{
	padding-right: 2.0em;
}
/*****    Delete    *****/


.marketBoardDeleteSubmit{
	
	background-color: white;
	
}

.DeletefontStyle{
	 font-size:1.5em; 
	 font-family:Helvetica;
}
.Delimiter{
	
	  font-weight: bold;
	  
}

.marketBoardUpDelBtn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.marketBoardUpDelBtn-default {
  color: black;
  border-color: black;
}
a.marketBoardListBtn {
  display: inline-block;
  padding: 9px 33px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #36b823;
  border-radius: 4px;
}.marketBoardDelBtn  {

  display: inline-block;
  padding: 9px 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid red;
  border-radius: 4px;

}

#listBt, #deleteBt{
	text-decoration:none;
}

.marketBoardDelFontStyle{
	 font-size:1.3em; 
	 font-family:Helvetica;
}
.DeletePassWord {
  padding-left: 20%;
}
.DeleteListPaddingLeft{
	  padding-left: 0.1%;
}
form.marketBoardDeleteForm {
  padding-top: 10%;
}
input.FontColorIsBlack{
	color:black;
}
/* 검색창  */

select#searchType {/*검색타입  */
  width: 7.0em;
  height: 2.0em;
   color: rgb(121, 121, 121);
  border-color:	rgb(121, 121, 121);
  border: 2px solid;
  
}

input#searchWord {/*검색창  */
  height: 2.0em;
  width: 25.0em;
   color: rgb(121, 121, 121);
  border-color: rgb(121, 121, 121);
  border: 2px solid;
  
}

#searchBtn{
	
	background-color: white;
	color:rgb(121, 121, 121);
	border-color: rgb(121, 121, 121);
	border: 2px solid;
	font-weight: bold;
	width: 5.0em;
	height: 2.0em;
}

input#searchBtn {
	
}
 form#searchForm {
  padding-top: 5.0em;
  padding-bottom: 2.0em;
  padding-left: 11.0em;
} 