<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.MuseGuestMapper">
	<insert id="write" parameterType="com.indiScene.museGuest.dto.MuseGuestDto">
		<![CDATA[insert into guest values(museguest_seq.nextval, #{muse_name}, #{artist_id}, #{guest_content}, #{guest_date})]]>
	</insert>
	
	<select id="count" parameterType="String" resultType="int">
		<![CDATA[select count(*) from guest where muse_name = #{muse_name}]]>
	</select>
	
	<select id="getlist" parameterType="java.util.HashMap" resultType="com.indiScene.museGuest.dto.MuseGuestDto">
		<![CDATA[select * from (select rownum rnum, a.* from (select * from guest order by guest_date desc) a where muse_name=#{muse_name}) b where rnum > #{startpage} and rnum <= #{endpage}]]>
	</select>
	
	<update id="update" parameterType="java.util.HashMap">
		update guest set guest_content = #{guest_content} where guest_num=#{guest_num}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from guest where guest_num=#{guest_num}
	</delete>
	
	<delete id="deleteMuse" parameterType="String">
		delete from guest where muse_name = #{muse_name}
	</delete>
</mapper>
