<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="dao.placeBoardMapper">

	
	<select id="boardCount" resultType="int">
		<![CDATA[
			select count(*) from placeboard
		]]>
	</select>
	
	<select id="boardList" parameterType="java.util.HashMap" resultType="com.indiScene.placeBoard.dto.PlaceBoardDto">
		<![CDATA[
			select * from (select rownum rnum, a.* from(select * from placeboard order by register_date desc)a) where rnum >=#{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<insert id="boardInsert" parameterType="com.indiScene.placeBoard.dto.PlaceBoardDto">
		<![CDATA[
		insert into placeboard(address,zipcode,SUBJECT,CONTENT,REGISTER_DATE,BOARD_NUM,ARTIST_ID,COUNT,file_name,file_path) 
		values(#{address},#{zipcode},#{subject},#{content},#{register_date},'pl' || marketboard_seq.nextval,#{artist_id},0,#{file_name},#{file_path})
		]]>
	</insert>
	
	<select id="boardRead" resultType="com.indiScene.placeBoard.dto.PlaceBoardDto">
		select * from placeboard where board_num=#{board_num}
	</select>
	
	<update id="readCount" >
		update placeboard set count=count+1 where board_num=#{boardNumber}
	</update>
	
	<select id="passCheck" parameterType="java.lang.String" resultType="java.lang.String">
		select artist_password from artist where artist_id=#{artist_id}
	</select>
	
	<delete id="delete" parameterType="java.lang.String" >
		delete from placeboard where board_num=#{board_num}
	</delete>
	
	<update id="update" parameterType="com.indiScene.placeBoard.dto.PlaceBoardDto">
		update placeboard set
			subject=#{subject}
		,content=#{content},zipcode=#{zipcode},address=#{address}
		where board_num=#{board_num}
	</update>
	
	
</mapper>